.languageSwitcher {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.languageButton {
  background-color: #0069d9;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  margin: 0 1rem;
  border-radius: 50px; 
  font-size: 1rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
}

.languageButton:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.languageButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

@media (max-width: 600px) {
  .languageSwitcher {
    flex-direction: column;
    gap: 0.5rem;
  }
  body.dark-mode .searchForm .submitButton {
    border: 1px solid #1f1f1f;
  }
}

/* Dark mode */
body.dark-mode .searchForm {
  background-color: #2c2c2c;
}

body.dark-mode .searchForm .title,
body.dark-mode .searchForm .label {
  color: #ddd;
}

body.dark-mode .searchForm .input {
  background-color: #444;
  border: 1px solid #666;
  color: #fff;
}

body.dark-mode .searchForm .submitButton {
  background-color: #007bff;
}

body.dark-mode .searchForm .submitButton:hover {
  background-color: #0056b3;
}

body.dark-mode .resultsItem {
  background-color: #1f1f1f;
}

body.dark-mode .errorMessage {
  background-color: #9c3e3e;
  border: 1px solid #7a2c2c;
}
